.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  display: flex;
  justify-content: center;
  align-items: center;
}
